@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, "Times New Roman", Times, serif;
  text-align: center;
}

header {
  padding: 0.5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

footer {
  background-color: black;
  padding: 0.1rem;
}

p,
a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 3rem;
}

.gameboard,
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  outline: 5px solid white;
  outline-offset: -1px;
}

.grid {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: xx-large;
  cursor: pointer;
}

.hidden {
  display: none;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.btns {
  padding: 0.5rem 3rem;
  border: none;
  font-size: large;
  font-weight: bold;
}

.form-group {
  padding: 1rem;
}
